body{
    background-color:rgb(252, 224, 246) ;
}
h1{
    color:rgb(53, 139, 96);
}
h3{
    color:rgb(136, 136, 223);
}
hr{
    
    border-color: red;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 3%;

}
